$stone:  #cec8ab;
$dust:   #f2f1e9;
$path:   #c1ac63;
$sand:   #efead7;
$sky:    #6a8ba6;
$water:  #d9e1e8;
$red:    #d64e4e; // a bit dark
$rose:   #f5d3d3; // ugly
$leaf:   #699040;
$algae:  #d9e3c4;
$bark:   #505534;
$text:   #35211b;
$faint_text: #778877;
$separator: $faint_text;

$main: $leaf;
$main_light: $algae;
$faint_green: #EDFAED;
$dust_translucent: rgba(242,241,233,0.80);
$autumn_red: #c2503e;

$menu_colour_1: $dust;
$menu_colour_2: $stone;

$shadow: #1a1f10;

$header_gradient_start: top;
$header_gradient_stop: bottom;
