<div class="image-wrapper">
  <%=img 'error.png', {class: "logo", alt: "Error"}%>
</div>

<h2><%=s_('404|No such page')%></h2>

<%=s_("404|Please use your browser's Back button, or %sgo to your home page%s.") % ["<a href=\"/home\">","</a>"]%>
