# The public IP address of this server
ip_public: 99.76.54.132
# The IP to listen on for incoming requests.  Usually the same as ip_public.
ip_listen: 99.76.54.132

# The path to the private RSA key
# Use generate-key-pair.rb to generate it.
private_key_path: /path/to/private.key

# A brief name which will be displayed by remote servers next to the usernames
# of this server's members.  Letters, numbers, period and dash only.  If omitted,
# the server's IP address will be displayed instead.  This could be the server's
# domain name, but need not be.
# server_name:

# The URL base which other servers will use to retrieve avatar image files
# from this server
avatar_url_base: 'http://domain-or-ip-without-trailing-slash'

# For more verbose output, set debug to true.
debug: false

# If no log_path is specified, the server logs to stdout
# log_path: /path/to/libertree-backend-rb.log

# Specify a pid_dir to have the process id written to a file in that dir.
# pid_dir: /path/to/libertree-backend-rb/pids

# What the system will use for sending email
smtp:
  host: mail.example.org
  port: 25
  username: exampleusername
  password: examplepassword
  authentication: plain  # plain, login, cram_md5, or comment out for no auth
  helo_domain: localhost.localdomain
  starttls_auto: false
  from_address: 'exampleusername@example.org'
