# The fully qualified domain name of this server
# (the Libertree backend component)
domain: tree.mydomain.net

# The domain name of the XMPP server
xmpp_server: localhost.localdomain

# The shared secret
shared_secret: 'secret'

# The component port on the XMPP server
port: 5347

# The path to the Unix domain socket used by the XMPP relay
# (will be created if it does not exist)
relay_socket: '/tmp/libertree-relay'

# The administrator's email address to allow other
# Libertree administrators to contact you.
contact: admin@mydomain.net

# The path to the private RSA key
# Use generate-key-pair.rb to generate it.
# TODO: A private key seems useful for server migration; keep this for now as a
#       reminder although the XMPP branch does not yet use key pairs.
private_key_path: /path/to/private.key

# The URL base of the frontend web interface (used for URL substitution)
frontend_url_base: 'http://domain-or-ip-without-trailing-slash'

# For more verbose output, set debug to true.
debug: false

# If no log_path is specified, the server logs to stdout
# log_path: /path/to/libertree-backend-rb.log

# Specify a pid_dir to have the process id written to a file in that dir.
# pid_dir: /path/to/libertree-backend-rb/pids

# What the system will use for sending email
smtp:
  host: mail.example.org
  port: 25
  username: exampleusername
  password: examplepassword
  authentication: plain  # plain, login, cram_md5, or comment out for no auth
  helo_domain: localhost.localdomain
  starttls_auto: false
  from_address: 'exampleusername@example.org'
