development:
  host: localhost
  username: libertree
  password: libertree
  database: libertree_development
test:
  host: localhost
  username: libertree
  password: libertree
  database: libertree_test
production:
  host: localhost
  username: libertree
  password: libertree
  database: libertree_production
