<%=s_(%{%1$s added your %2$spost%3$s to a spring called "%4$s".}) % [@actors, "<a href=\"/posts/show/#{@subject.post.id}\" title=\"#{::CGI.escape_html(@subject.post.glimpse)}\">", "</a>", "<a href=\"/pools/show/#{@subject.pool.id}\">" + Libertree.plain(@subject.pool.name) + "</a>"]%>
