# Pass to unicorn, for example:
# bundle exec unicorn -D -c unicorn.conf
listen "127.0.0.1:8088"
worker_processes 4
pid "/opt/libertree/frontend-ramaze/pids/unicorn.pid"
stderr_path "/opt/libertree/frontend-ramaze/log/unicorn.log"
stdout_path "/opt/libertree/frontend-ramaze/log/unicorn.log"
