<%= render_file 'view/comments/_num_comments.erb', num_shown: @num_shown, num_total: @post.comments.count, hidden: true %>

<% @comments.each_with_index do |c,i| %>
  <%= render_file 'view/comments/_comment.erb', comment: c, commenters: @commenters, i: i+@offset %>
<% end %>

<span class="hidden num-notifs-unseen"><%=@num_notifs_unseen%></span>
