<h2><%=_('Change Password')%></h2>

<form method="POST">
  <div class="field">
    <label><%=_('New password:')%></label>
    <input type="password" name="password"/>
  </div>
  <div class="field">
    <label><%=_('Re-enter new password:')%></label>
    <input type="password" name="password_again"/>
  </div>
  <input type="submit" value="<%=s_('button|Change Password')%>"/>
</form>
