@import "../scss-include/mixins.scss";
@import "colours.scss";

body.search {
    .main {
        padding: 0;
        background-color: transparent;

        .panel, #header {
            @include shadow;
            @include rounded;
            @include border-box;
            margin: 0 auto;
            padding: 20px;
            float: none;
            overflow: auto;
        }
        #header {
            background-color: $dust;
        }
        #header + .panel, .panel + .panel {
            margin-top: 1em;
        }
    }

    ul.result-links {
        li {
            float: left;
            list-style-type: none;
        }
        li + li {
            margin-left: 0.5em;
            border-left: 1px solid $bark;
            padding-left: 0.5em;
        }
    }

    ul {
      margin: 0;
      padding: 0;
    }
    li.search-result {
      padding: 1em;
      margin-bottom: .5em;
      background: $dust;
      border-radius: 3px;

      span {
        display: block;
      }

      span.glimpse {
        margin-bottom: 0.5em;
      }
      em.highlight {
        background: $water;
        color: $text;
        font-style: normal;
        font-weight: bold;
        padding: 2px;
      }

      a {
        color: inherit;
        display: block;
        border-bottom: none;
      }
      &.post, &.comment {
        list-style-type: none;
        .member {
          display: block;
          margin-bottom: 0.3em;
        }
      }
    }
    li.profile {
        list-style-type: none;
    }
    img.avatar {
        width: 1.3em;
        height: 1.3em;
        margin-bottom: 0;
    }
}
